Test/Another_flow_version.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "ca9cb96c-d3c1-3d5c-b12a-6324d1d91345",
            "id" : "b596d459-c7cd-3ea4-956d-e13c38c0bb89",
            "instanceIdentifier" : "352c133f-0197-1000-8cd2-266fabccb795",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "ca9cb96c-d3c1-3d5c-b12a-6324d1d91345",
          "identifier" : "98b69672-8611-316c-ae4b-673d5ed3f553",
          "instanceIdentifier" : "352c1ec5-0197-1000-bb3b-896e367b9cb8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "ca9cb96c-d3c1-3d5c-b12a-6324d1d91345",
            "id" : "084f1f6b-c96b-36cf-bb05-702840455eb6",
            "instanceIdentifier" : "352b8705-0197-1000-31c3-d02c306686b4",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "ca9cb96c-d3c1-3d5c-b12a-6324d1d91345",
          "identifier" : "b596d459-c7cd-3ea4-956d-e13c38c0bb89",
          "instanceIdentifier" : "352c133f-0197-1000-8cd2-266fabccb795",
          "position" : {
            "x" : 760.0,
            "y" : 400.0
          }
        } ],
        "identifier" : "ca9cb96c-d3c1-3d5c-b12a-6324d1d91345",
        "inputPorts" : [ ],
        "instanceIdentifier" : "352b67f6-0197-1000-d17b-29932834f538",
        "labels" : [ ],
        "name" : "Nifi Registry Demo FLow",
        "outputPorts" : [ ],
        "position" : {
          "x" : 872.0,
          "y" : 264.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "8419e8d6-5386-3df4-b785-57db2e67dd6c",
              "instanceIdentifier" : "01971004-7026-1a96-cf66-b355973c3f9b",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "82b06d0c-6f1b-3ebc-9328-988b42fae377",
            "instanceIdentifier" : "01971005-7026-1a96-a444-2ed0549fcbb8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "merged" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "f33ebd7b-78cd-3323-8fa0-9f7cc3512ea2",
              "instanceIdentifier" : "01971002-7026-1a96-29dd-b4dff34c905e",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "f33ebd7b-78cd-3323-8fa0-9f7cc3512ea2",
              "instanceIdentifier" : "01971002-7026-1a96-29dd-b4dff34c905e",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "655888bb-9e06-3dbe-8e66-a712a6c32eee",
            "instanceIdentifier" : "0197100e-7026-1a96-eea6-944842449569",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "29e75603-4aa6-3343-99a7-138755498638",
              "instanceIdentifier" : "0197100a-7026-1a96-7f68-ad7245175393",
              "name" : "SplitRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "e22fd7fa-3f2c-351b-8ffe-99014a5e47a1",
              "instanceIdentifier" : "3e4d1416-0197-1000-57b8-b7891a5dd2cb",
              "name" : "MergeRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "b981b87d-a784-3398-8354-f38612eb3bfa",
            "instanceIdentifier" : "3e528e42-0197-1000-4f86-c0a23fb4d102",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "0b43ecb3-6ffc-3de2-b1ef-24459bc1f4ed",
              "instanceIdentifier" : "3e525c1d-0197-1000-b063-7a9fdb275907",
              "name" : "SplitRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "0b43ecb3-6ffc-3de2-b1ef-24459bc1f4ed",
              "instanceIdentifier" : "3e525c1d-0197-1000-b063-7a9fdb275907",
              "name" : "SplitRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "2108763b-43af-3ece-a9d6-2a5a8c3eb413",
            "instanceIdentifier" : "3e562ee0-0197-1000-1867-77ee9b517648",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "b6ecf101-7ac6-3770-9ed3-25332d7a2260",
              "instanceIdentifier" : "3e5522ee-0197-1000-13c8-1a3e178728cf",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "b843d3bf-d617-3eff-a625-b67f2ffe291f",
              "instanceIdentifier" : "3a967026-0197-1000-e9fb-980acb5ee346",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "80a70ae7-7673-313f-ad3f-db1bde70028f",
            "instanceIdentifier" : "3a969ea0-0197-1000-492f-e59d867f2be1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "2b821d8c-a63c-3fe5-b3ba-fa6890895e67",
              "instanceIdentifier" : "3a8f491c-0197-1000-e763-38459caf83d6",
              "name" : "ListFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "b6ecf101-7ac6-3770-9ed3-25332d7a2260",
              "instanceIdentifier" : "3e5522ee-0197-1000-13c8-1a3e178728cf",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "578c47fa-4cf1-3173-b24e-806fa117a1d6",
            "instanceIdentifier" : "3e4c81f3-0197-1000-0b2e-57242d526652",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "b843d3bf-d617-3eff-a625-b67f2ffe291f",
              "instanceIdentifier" : "3a967026-0197-1000-e9fb-980acb5ee346",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "937c59a7-6009-3fd9-b072-40129b422b4f",
              "instanceIdentifier" : "3b50871b-0197-1000-793a-90fa2cefc2ea",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "3e38c7a7-6ff1-3e19-a0de-cee1bc0827d3",
            "instanceIdentifier" : "3e4f86c5-0197-1000-88ba-a889c68319d9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "merged" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "e22fd7fa-3f2c-351b-8ffe-99014a5e47a1",
              "instanceIdentifier" : "3e4d1416-0197-1000-57b8-b7891a5dd2cb",
              "name" : "MergeRecord",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "7f4a9b2b-5273-3f7b-8e12-e3afbf664bcf",
              "instanceIdentifier" : "01971021-7026-1a96-2ba0-dbb6a8e36164",
              "name" : "SplitContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "9f29bc13-1c02-3ec1-8cf7-45c8b6d60fab",
            "instanceIdentifier" : "01971022-7026-1a96-c9c4-fd5e99f50495",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "e7c3ef54-459d-3af8-8adc-0197d8060bb0",
              "instanceIdentifier" : "01971019-7026-1a96-6d5a-2c7cd28f1bde",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "632869a1-1e78-35fe-9a86-fa7e431fc1d5",
              "instanceIdentifier" : "01971017-7026-1a96-8ed2-735943a3ffa6",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "99b5587d-d608-3272-ae53-0d7849afe121",
            "instanceIdentifier" : "0197101f-7026-1a96-0379-dcb144a96c76",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "cfbe2ad1-76d9-316e-9456-cfaa4e3b024e",
              "instanceIdentifier" : "0197101a-7026-1a96-f9b4-58f335bb76bf",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "533729f4-5499-34a8-b6ae-fe5bf7cb5107",
              "instanceIdentifier" : "01971016-7026-1a96-5a09-38b4e0865d34",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "495ab09a-e82e-34f7-8a34-3901459273d9",
            "instanceIdentifier" : "0197101e-7026-1a96-50bd-5c23af997ba1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "merged" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "cfbe2ad1-76d9-316e-9456-cfaa4e3b024e",
              "instanceIdentifier" : "0197101a-7026-1a96-f9b4-58f335bb76bf",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "e7c3ef54-459d-3af8-8adc-0197d8060bb0",
              "instanceIdentifier" : "01971019-7026-1a96-6d5a-2c7cd28f1bde",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "855d74fa-e770-3673-8c6c-238154907b11",
            "instanceIdentifier" : "0197101c-7026-1a96-45f9-aa7a2b35077e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "a69cb916-95c4-394f-bde9-f470984df5de",
              "instanceIdentifier" : "01971018-7026-1a96-fe6f-687327c5db4a",
              "name" : "ListFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "cfbe2ad1-76d9-316e-9456-cfaa4e3b024e",
              "instanceIdentifier" : "0197101a-7026-1a96-f9b4-58f335bb76bf",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "90f70b2c-016d-36de-9ee8-ae906556e15d",
            "instanceIdentifier" : "01971023-7026-1a96-cd06-1b9e1dc44c76",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "7f4a9b2b-5273-3f7b-8e12-e3afbf664bcf",
              "instanceIdentifier" : "01971021-7026-1a96-2ba0-dbb6a8e36164",
              "name" : "SplitContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "b843d3bf-d617-3eff-a625-b67f2ffe291f",
              "instanceIdentifier" : "3a967026-0197-1000-e9fb-980acb5ee346",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "b1a70e3f-4948-3e4b-b5c6-379729461769",
            "instanceIdentifier" : "3e55998f-0197-1000-9a13-134ad2ed0d8e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "b6ecf101-7ac6-3770-9ed3-25332d7a2260",
              "instanceIdentifier" : "3e5522ee-0197-1000-13c8-1a3e178728cf",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "62b72e9a-5c72-3fe7-ade9-b161df14ccd5",
              "instanceIdentifier" : "01971006-7026-1a96-d20b-f244eec2cf42",
              "name" : "Funnel",
              "type" : "FUNNEL"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "c77ca643-4eab-33c4-b8b7-edc039d78c6d",
            "instanceIdentifier" : "01971007-7026-1a96-db20-2aa44efbbaef",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "f33ebd7b-78cd-3323-8fa0-9f7cc3512ea2",
              "instanceIdentifier" : "01971002-7026-1a96-29dd-b4dff34c905e",
              "name" : "MergeContent",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "29e75603-4aa6-3343-99a7-138755498638",
              "instanceIdentifier" : "0197100a-7026-1a96-7f68-ad7245175393",
              "name" : "SplitRecord",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "287f473c-ad82-37ac-8820-42500ac0734f",
            "instanceIdentifier" : "01971003-7026-1a96-af89-269bd20b2604",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "0930d6d3-d182-3602-ba42-293e29f10dde",
              "instanceIdentifier" : "01971000-7026-1a96-9b6c-aa9a8698b7fe",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "0930d6d3-d182-3602-ba42-293e29f10dde",
              "instanceIdentifier" : "01971000-7026-1a96-9b6c-aa9a8698b7fe",
              "name" : "FetchFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "3a868efd-2cb7-3dcd-8d05-6ce2133abb72",
            "instanceIdentifier" : "01971001-7026-1a96-d780-a24f476eba7f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8a78ebb8-b4ab-3005-b576-71e314920877",
              "id" : "bacbf7eb-20f5-3b7e-b2a6-250173c88d53",
              "instanceIdentifier" : "01971000-491c-1a8f-40ef-1a9be2f88f6a",
              "name" : "ListFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
            } ],
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "ae9557e0-260b-305f-b89a-f2a6e0c1d35e",
            "instanceIdentifier" : "3e4ef83a-0197-1000-f0ff-4692b507dd5f",
            "name" : "CSVRecordSetWriter",
            "properties" : {
              "CSV Format" : "custom",
              "Quote Character" : "\"",
              "Include Header Line" : "true",
              "Value Separator" : ",",
              "Record Separator" : "\\n",
              "Escape Character" : "\\",
              "Schema Write Strategy" : "no-schema",
              "Trim Fields" : "true",
              "schema-name" : "${schema.name}",
              "schema-access-strategy" : "inherit-record-schema",
              "schema-protocol-version" : "1",
              "csvutils-character-set" : "UTF-8",
              "schema-text" : "${avro.schema}",
              "Quote Mode" : "MINIMAL",
              "Include Trailing Delimiter" : "false"
            },
            "propertyDescriptors" : {
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "CSV Format" : {
                "displayName" : "CSV Format",
                "identifiesControllerService" : false,
                "name" : "CSV Format",
                "sensitive" : false
              },
              "Quote Character" : {
                "displayName" : "Quote Character",
                "identifiesControllerService" : false,
                "name" : "Quote Character",
                "sensitive" : false
              },
              "Include Header Line" : {
                "displayName" : "Include Header Line",
                "identifiesControllerService" : false,
                "name" : "Include Header Line",
                "sensitive" : false
              },
              "Value Separator" : {
                "displayName" : "Value Separator",
                "identifiesControllerService" : false,
                "name" : "Value Separator",
                "sensitive" : false
              },
              "schema-cache" : {
                "displayName" : "Schema Cache",
                "identifiesControllerService" : true,
                "name" : "schema-cache",
                "sensitive" : false
              },
              "Record Separator" : {
                "displayName" : "Record Separator",
                "identifiesControllerService" : false,
                "name" : "Record Separator",
                "sensitive" : false
              },
              "Timestamp Format" : {
                "displayName" : "Timestamp Format",
                "identifiesControllerService" : false,
                "name" : "Timestamp Format",
                "sensitive" : false
              },
              "Escape Character" : {
                "displayName" : "Escape Character",
                "identifiesControllerService" : false,
                "name" : "Escape Character",
                "sensitive" : false
              },
              "Date Format" : {
                "displayName" : "Date Format",
                "identifiesControllerService" : false,
                "name" : "Date Format",
                "sensitive" : false
              },
              "Schema Write Strategy" : {
                "displayName" : "Schema Write Strategy",
                "identifiesControllerService" : false,
                "name" : "Schema Write Strategy",
                "sensitive" : false
              },
              "Null String" : {
                "displayName" : "Null String",
                "identifiesControllerService" : false,
                "name" : "Null String",
                "sensitive" : false
              },
              "Trim Fields" : {
                "displayName" : "Trim Fields",
                "identifiesControllerService" : false,
                "name" : "Trim Fields",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "Time Format" : {
                "displayName" : "Time Format",
                "identifiesControllerService" : false,
                "name" : "Time Format",
                "sensitive" : false
              },
              "Comment Marker" : {
                "displayName" : "Comment Marker",
                "identifiesControllerService" : false,
                "name" : "Comment Marker",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-protocol-version" : {
                "displayName" : "Schema Protocol Version",
                "identifiesControllerService" : false,
                "name" : "schema-protocol-version",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "csvutils-character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "csvutils-character-set",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              },
              "Quote Mode" : {
                "displayName" : "Quote Mode",
                "identifiesControllerService" : false,
                "name" : "Quote Mode",
                "sensitive" : false
              },
              "Include Trailing Delimiter" : {
                "displayName" : "Include Trailing Delimiter",
                "identifiesControllerService" : false,
                "name" : "Include Trailing Delimiter",
                "sensitive" : false
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
          }, {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.serialization.RecordReaderFactory"
            } ],
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "730083de-8d32-3f80-8690-31e6f557777f",
            "instanceIdentifier" : "3a9ddf2d-0197-1000-d645-26528a0d0d9c",
            "name" : "CSVReader",
            "properties" : {
              "ignore-csv-header" : "false",
              "Trim double quote" : "true",
              "CSV Format" : "custom",
              "Quote Character" : "\"",
              "csvutils-allow-duplicate-header-names" : "true",
              "Value Separator" : ",",
              "Record Separator" : "\\n",
              "Escape Character" : "\\",
              "Skip Header Line" : "false",
              "Trim Fields" : "true",
              "schema-name" : "${schema.name}",
              "csv-reader-csv-parser" : "commons-csv",
              "schema-access-strategy" : "infer-schema",
              "csvutils-character-set" : "UTF-8",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "ignore-csv-header" : {
                "displayName" : "Ignore CSV Header Column Names",
                "identifiesControllerService" : false,
                "name" : "ignore-csv-header",
                "sensitive" : false
              },
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "Trim double quote" : {
                "displayName" : "Trim double quote",
                "identifiesControllerService" : false,
                "name" : "Trim double quote",
                "sensitive" : false
              },
              "CSV Format" : {
                "displayName" : "CSV Format",
                "identifiesControllerService" : false,
                "name" : "CSV Format",
                "sensitive" : false
              },
              "Quote Character" : {
                "displayName" : "Quote Character",
                "identifiesControllerService" : false,
                "name" : "Quote Character",
                "sensitive" : false
              },
              "csvutils-allow-duplicate-header-names" : {
                "displayName" : "Allow Duplicate Header Names",
                "identifiesControllerService" : false,
                "name" : "csvutils-allow-duplicate-header-names",
                "sensitive" : false
              },
              "Value Separator" : {
                "displayName" : "Value Separator",
                "identifiesControllerService" : false,
                "name" : "Value Separator",
                "sensitive" : false
              },
              "Record Separator" : {
                "displayName" : "Record Separator",
                "identifiesControllerService" : false,
                "name" : "Record Separator",
                "sensitive" : false
              },
              "Timestamp Format" : {
                "displayName" : "Timestamp Format",
                "identifiesControllerService" : false,
                "name" : "Timestamp Format",
                "sensitive" : false
              },
              "Escape Character" : {
                "displayName" : "Escape Character",
                "identifiesControllerService" : false,
                "name" : "Escape Character",
                "sensitive" : false
              },
              "Date Format" : {
                "displayName" : "Date Format",
                "identifiesControllerService" : false,
                "name" : "Date Format",
                "sensitive" : false
              },
              "Null String" : {
                "displayName" : "Null String",
                "identifiesControllerService" : false,
                "name" : "Null String",
                "sensitive" : false
              },
              "Skip Header Line" : {
                "displayName" : "Treat First Line as Header",
                "identifiesControllerService" : false,
                "name" : "Skip Header Line",
                "sensitive" : false
              },
              "Trim Fields" : {
                "displayName" : "Trim Fields",
                "identifiesControllerService" : false,
                "name" : "Trim Fields",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "csv-reader-csv-parser" : {
                "displayName" : "CSV Parser",
                "identifiesControllerService" : false,
                "name" : "csv-reader-csv-parser",
                "sensitive" : false
              },
              "Time Format" : {
                "displayName" : "Time Format",
                "identifiesControllerService" : false,
                "name" : "Time Format",
                "sensitive" : false
              },
              "Comment Marker" : {
                "displayName" : "Comment Marker",
                "identifiesControllerService" : false,
                "name" : "Comment Marker",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "csvutils-character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "csvutils-character-set",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.csv.CSVReader"
          }, {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
            } ],
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "84d4971a-1341-34bf-a5e8-48152416e4c9",
            "instanceIdentifier" : "3e4eaf52-0197-1000-73ff-0469746e2e12",
            "name" : "AvroRecordSetWriter",
            "properties" : {
              "compression-format" : "NONE",
              "Schema Write Strategy" : "avro-embedded",
              "schema-name" : "${schema.name}",
              "cache-size" : "1000",
              "schema-access-strategy" : "inherit-record-schema",
              "schema-protocol-version" : "1",
              "encoder-pool-size" : "32",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "compression-format" : {
                "displayName" : "Compression Format",
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "Schema Write Strategy" : {
                "displayName" : "Schema Write Strategy",
                "identifiesControllerService" : false,
                "name" : "Schema Write Strategy",
                "sensitive" : false
              },
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "cache-size" : {
                "displayName" : "Cache Size",
                "identifiesControllerService" : false,
                "name" : "cache-size",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-protocol-version" : {
                "displayName" : "Schema Protocol Version",
                "identifiesControllerService" : false,
                "name" : "schema-protocol-version",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "encoder-pool-size" : {
                "displayName" : "Encoder Pool Size",
                "identifiesControllerService" : false,
                "name" : "encoder-pool-size",
                "sensitive" : false
              },
              "schema-cache" : {
                "displayName" : "Schema Cache",
                "identifiesControllerService" : true,
                "name" : "schema-cache",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
          }, {
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.28.1"
              },
              "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
            } ],
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "2b4c6476-4e3c-3ba8-9879-c4bda7e17eac",
            "instanceIdentifier" : "3a9e00c0-0197-1000-69cc-245f0d1d835b",
            "name" : "JsonRecordSetWriter",
            "properties" : {
              "Allow Scientific Notation" : "true",
              "compression-level" : "1",
              "Pretty Print JSON" : "false",
              "compression-format" : "none",
              "Schema Write Strategy" : "no-schema",
              "suppress-nulls" : "never-suppress",
              "output-grouping" : "output-array",
              "schema-name" : "${schema.name}",
              "schema-access-strategy" : "inherit-record-schema",
              "schema-protocol-version" : "1",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "Allow Scientific Notation" : {
                "displayName" : "Allow Scientific Notation",
                "identifiesControllerService" : false,
                "name" : "Allow Scientific Notation",
                "sensitive" : false
              },
              "compression-level" : {
                "displayName" : "Compression Level",
                "identifiesControllerService" : false,
                "name" : "compression-level",
                "sensitive" : false
              },
              "schema-cache" : {
                "displayName" : "Schema Cache",
                "identifiesControllerService" : true,
                "name" : "schema-cache",
                "sensitive" : false
              },
              "Timestamp Format" : {
                "displayName" : "Timestamp Format",
                "identifiesControllerService" : false,
                "name" : "Timestamp Format",
                "sensitive" : false
              },
              "Date Format" : {
                "displayName" : "Date Format",
                "identifiesControllerService" : false,
                "name" : "Date Format",
                "sensitive" : false
              },
              "Pretty Print JSON" : {
                "displayName" : "Pretty Print JSON",
                "identifiesControllerService" : false,
                "name" : "Pretty Print JSON",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "Schema Write Strategy" : {
                "displayName" : "Schema Write Strategy",
                "identifiesControllerService" : false,
                "name" : "Schema Write Strategy",
                "sensitive" : false
              },
              "suppress-nulls" : {
                "displayName" : "Suppress Null Values",
                "identifiesControllerService" : false,
                "name" : "suppress-nulls",
                "sensitive" : false
              },
              "output-grouping" : {
                "displayName" : "Output Grouping",
                "identifiesControllerService" : false,
                "name" : "output-grouping",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "Time Format" : {
                "displayName" : "Time Format",
                "identifiesControllerService" : false,
                "name" : "Time Format",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-protocol-version" : {
                "displayName" : "Schema Protocol Version",
                "identifiesControllerService" : false,
                "name" : "schema-protocol-version",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "scheduledState" : "DISABLED",
            "type" : "org.apache.nifi.json.JsonRecordSetWriter"
          } ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "937c59a7-6009-3fd9-b072-40129b422b4f",
            "instanceIdentifier" : "3b50871b-0197-1000-793a-90fa2cefc2ea",
            "position" : {
              "x" : 1384.0,
              "y" : 424.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "533729f4-5499-34a8-b6ae-fe5bf7cb5107",
            "instanceIdentifier" : "01971016-7026-1a96-5a09-38b4e0865d34",
            "position" : {
              "x" : 3108.4855008036234,
              "y" : 1035.393363985118
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "8419e8d6-5386-3df4-b785-57db2e67dd6c",
            "instanceIdentifier" : "01971004-7026-1a96-cf66-b355973c3f9b",
            "position" : {
              "x" : 2768.0,
              "y" : 184.0
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "632869a1-1e78-35fe-9a86-fa7e431fc1d5",
            "instanceIdentifier" : "01971017-7026-1a96-8ed2-735943a3ffa6",
            "position" : {
              "x" : 3292.4855008036234,
              "y" : 891.393363985118
            }
          }, {
            "componentType" : "FUNNEL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "62b72e9a-5c72-3fe7-ade9-b161df14ccd5",
            "instanceIdentifier" : "01971006-7026-1a96-d20b-f244eec2cf42",
            "position" : {
              "x" : 2952.0,
              "y" : 40.0
            }
          } ],
          "groupIdentifier" : "ca9cb96c-d3c1-3d5c-b12a-6324d1d91345",
          "identifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
          "inputPorts" : [ ],
          "instanceIdentifier" : "3a7948ff-0197-1000-09e9-ccac023cd8b8",
          "labels" : [ ],
          "name" : "YT-Demos",
          "outputPorts" : [ ],
          "position" : {
            "x" : -173.00000589253648,
            "y" : 151.00001053665534
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "bacbf7eb-20f5-3b7e-b2a6-250173c88d53",
            "instanceIdentifier" : "01971000-491c-1a8f-40ef-1a9be2f88f6a",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ListFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1808.0,
              "y" : 0.0
            },
            "properties" : {
              "Minimum File Age" : "0 sec",
              "et-initial-listing-target" : "all",
              "max-listing-time" : "3 mins",
              "et-time-window" : "3 hours",
              "et-node-identifier" : "${hostname()}",
              "Recurse Subdirectories" : "true",
              "File Filter" : ".*\\.csv$",
              "Include File Attributes" : "true",
              "Input Directory Location" : "Local",
              "listing-strategy" : "none",
              "Input Directory" : "/home/yashverma/Desktop/nifi/UatlikeFLows/input csv",
              "target-system-timestamp-precision" : "auto-detect",
              "track-performance" : "false",
              "max-performance-metrics" : "100000",
              "Minimum File Size" : "0 B",
              "Ignore Hidden Files" : "true",
              "max-operation-time" : "10 secs"
            },
            "propertyDescriptors" : {
              "Minimum File Age" : {
                "displayName" : "Minimum File Age",
                "identifiesControllerService" : false,
                "name" : "Minimum File Age",
                "sensitive" : false
              },
              "et-initial-listing-target" : {
                "displayName" : "Entity Tracking Initial Listing Target",
                "identifiesControllerService" : false,
                "name" : "et-initial-listing-target",
                "sensitive" : false
              },
              "Maximum File Age" : {
                "displayName" : "Maximum File Age",
                "identifiesControllerService" : false,
                "name" : "Maximum File Age",
                "sensitive" : false
              },
              "max-listing-time" : {
                "displayName" : "Max Directory Listing Time",
                "identifiesControllerService" : false,
                "name" : "max-listing-time",
                "sensitive" : false
              },
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "Maximum File Size" : {
                "displayName" : "Maximum File Size",
                "identifiesControllerService" : false,
                "name" : "Maximum File Size",
                "sensitive" : false
              },
              "et-time-window" : {
                "displayName" : "Entity Tracking Time Window",
                "identifiesControllerService" : false,
                "name" : "et-time-window",
                "sensitive" : false
              },
              "et-node-identifier" : {
                "displayName" : "Entity Tracking Node Identifier",
                "identifiesControllerService" : false,
                "name" : "et-node-identifier",
                "sensitive" : false
              },
              "Recurse Subdirectories" : {
                "displayName" : "Recurse Subdirectories",
                "identifiesControllerService" : false,
                "name" : "Recurse Subdirectories",
                "sensitive" : false
              },
              "File Filter" : {
                "displayName" : "File Filter",
                "identifiesControllerService" : false,
                "name" : "File Filter",
                "sensitive" : false
              },
              "Path Filter" : {
                "displayName" : "Path Filter",
                "identifiesControllerService" : false,
                "name" : "Path Filter",
                "sensitive" : false
              },
              "Include File Attributes" : {
                "displayName" : "Include File Attributes",
                "identifiesControllerService" : false,
                "name" : "Include File Attributes",
                "sensitive" : false
              },
              "Input Directory Location" : {
                "displayName" : "Input Directory Location",
                "identifiesControllerService" : false,
                "name" : "Input Directory Location",
                "sensitive" : false
              },
              "listing-strategy" : {
                "displayName" : "Listing Strategy",
                "identifiesControllerService" : false,
                "name" : "listing-strategy",
                "sensitive" : false
              },
              "Input Directory" : {
                "displayName" : "Input Directory",
                "identifiesControllerService" : false,
                "name" : "Input Directory",
                "sensitive" : false
              },
              "target-system-timestamp-precision" : {
                "displayName" : "Target System Timestamp Precision",
                "identifiesControllerService" : false,
                "name" : "target-system-timestamp-precision",
                "sensitive" : false
              },
              "track-performance" : {
                "displayName" : "Track Performance",
                "identifiesControllerService" : false,
                "name" : "track-performance",
                "sensitive" : false
              },
              "max-performance-metrics" : {
                "displayName" : "Maximum Number of Files to Track",
                "identifiesControllerService" : false,
                "name" : "max-performance-metrics",
                "sensitive" : false
              },
              "Minimum File Size" : {
                "displayName" : "Minimum File Size",
                "identifiesControllerService" : false,
                "name" : "Minimum File Size",
                "sensitive" : false
              },
              "Ignore Hidden Files" : {
                "displayName" : "Ignore Hidden Files",
                "identifiesControllerService" : false,
                "name" : "Ignore Hidden Files",
                "sensitive" : false
              },
              "et-state-cache" : {
                "displayName" : "Entity Tracking State Cache",
                "identifiesControllerService" : true,
                "name" : "et-state-cache",
                "sensitive" : false
              },
              "max-operation-time" : {
                "displayName" : "Max Disk Operation Time",
                "identifiesControllerService" : false,
                "name" : "max-operation-time",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 min",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ListFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "0930d6d3-d182-3602-ba42-293e29f10dde",
            "instanceIdentifier" : "01971000-7026-1a96-9b6c-aa9a8698b7fe",
            "maxBackoffPeriod" : "10 mins",
            "name" : "FetchFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1792.0,
              "y" : 240.0
            },
            "properties" : {
              "Move Conflict Strategy" : "Rename",
              "Log level when file not found" : "ERROR",
              "Log level when permission denied" : "ERROR",
              "File to Fetch" : "${absolute.path}/${filename}",
              "Completion Strategy" : "None"
            },
            "propertyDescriptors" : {
              "Move Conflict Strategy" : {
                "displayName" : "Move Conflict Strategy",
                "identifiesControllerService" : false,
                "name" : "Move Conflict Strategy",
                "sensitive" : false
              },
              "Log level when file not found" : {
                "displayName" : "Log level when file not found",
                "identifiesControllerService" : false,
                "name" : "Log level when file not found",
                "sensitive" : false
              },
              "Move Destination Directory" : {
                "displayName" : "Move Destination Directory",
                "identifiesControllerService" : false,
                "name" : "Move Destination Directory",
                "sensitive" : false
              },
              "Log level when permission denied" : {
                "displayName" : "Log level when permission denied",
                "identifiesControllerService" : false,
                "name" : "Log level when permission denied",
                "sensitive" : false
              },
              "File to Fetch" : {
                "displayName" : "File to Fetch",
                "identifiesControllerService" : false,
                "name" : "File to Fetch",
                "sensitive" : false
              },
              "Completion Strategy" : {
                "displayName" : "Completion Strategy",
                "identifiesControllerService" : false,
                "name" : "Completion Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.FetchFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "b6ecf101-7ac6-3770-9ed3-25332d7a2260",
            "instanceIdentifier" : "3e5522ee-0197-1000-13c8-1a3e178728cf",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 728.0,
              "y" : 360.0
            },
            "properties" : {
              "filename" : "test.csv",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "29e75603-4aa6-3343-99a7-138755498638",
            "instanceIdentifier" : "0197100a-7026-1a96-7f68-ad7245175393",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitRecord",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2440.0,
              "y" : 280.0
            },
            "properties" : {
              "Record Writer" : "ae9557e0-260b-305f-b89a-f2a6e0c1d35e",
              "Record Reader" : "730083de-8d32-3f80-8690-31e6f557777f",
              "Records Per Split" : "1"
            },
            "propertyDescriptors" : {
              "Record Writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "Record Writer",
                "sensitive" : false
              },
              "Record Reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "Record Reader",
                "sensitive" : false
              },
              "Records Per Split" : {
                "displayName" : "Records Per Split",
                "identifiesControllerService" : false,
                "name" : "Records Per Split",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "2b821d8c-a63c-3fe5-b3ba-fa6890895e67",
            "instanceIdentifier" : "3a8f491c-0197-1000-e763-38459caf83d6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ListFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 488.0,
              "y" : 144.0
            },
            "properties" : {
              "Minimum File Age" : "0 sec",
              "et-initial-listing-target" : "all",
              "max-listing-time" : "3 mins",
              "et-time-window" : "3 hours",
              "et-node-identifier" : "${hostname()}",
              "Recurse Subdirectories" : "true",
              "File Filter" : ".*\\.csv$",
              "Include File Attributes" : "true",
              "Input Directory Location" : "Local",
              "listing-strategy" : "none",
              "Input Directory" : "/home/yashverma/Desktop/nifi/UatlikeFLows/input csv",
              "target-system-timestamp-precision" : "auto-detect",
              "track-performance" : "false",
              "max-performance-metrics" : "100000",
              "Minimum File Size" : "0 B",
              "Ignore Hidden Files" : "true",
              "max-operation-time" : "10 secs"
            },
            "propertyDescriptors" : {
              "Minimum File Age" : {
                "displayName" : "Minimum File Age",
                "identifiesControllerService" : false,
                "name" : "Minimum File Age",
                "sensitive" : false
              },
              "et-initial-listing-target" : {
                "displayName" : "Entity Tracking Initial Listing Target",
                "identifiesControllerService" : false,
                "name" : "et-initial-listing-target",
                "sensitive" : false
              },
              "Maximum File Age" : {
                "displayName" : "Maximum File Age",
                "identifiesControllerService" : false,
                "name" : "Maximum File Age",
                "sensitive" : false
              },
              "max-listing-time" : {
                "displayName" : "Max Directory Listing Time",
                "identifiesControllerService" : false,
                "name" : "max-listing-time",
                "sensitive" : false
              },
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "Maximum File Size" : {
                "displayName" : "Maximum File Size",
                "identifiesControllerService" : false,
                "name" : "Maximum File Size",
                "sensitive" : false
              },
              "et-time-window" : {
                "displayName" : "Entity Tracking Time Window",
                "identifiesControllerService" : false,
                "name" : "et-time-window",
                "sensitive" : false
              },
              "et-node-identifier" : {
                "displayName" : "Entity Tracking Node Identifier",
                "identifiesControllerService" : false,
                "name" : "et-node-identifier",
                "sensitive" : false
              },
              "Recurse Subdirectories" : {
                "displayName" : "Recurse Subdirectories",
                "identifiesControllerService" : false,
                "name" : "Recurse Subdirectories",
                "sensitive" : false
              },
              "File Filter" : {
                "displayName" : "File Filter",
                "identifiesControllerService" : false,
                "name" : "File Filter",
                "sensitive" : false
              },
              "Path Filter" : {
                "displayName" : "Path Filter",
                "identifiesControllerService" : false,
                "name" : "Path Filter",
                "sensitive" : false
              },
              "Include File Attributes" : {
                "displayName" : "Include File Attributes",
                "identifiesControllerService" : false,
                "name" : "Include File Attributes",
                "sensitive" : false
              },
              "Input Directory Location" : {
                "displayName" : "Input Directory Location",
                "identifiesControllerService" : false,
                "name" : "Input Directory Location",
                "sensitive" : false
              },
              "listing-strategy" : {
                "displayName" : "Listing Strategy",
                "identifiesControllerService" : false,
                "name" : "listing-strategy",
                "sensitive" : false
              },
              "Input Directory" : {
                "displayName" : "Input Directory",
                "identifiesControllerService" : false,
                "name" : "Input Directory",
                "sensitive" : false
              },
              "target-system-timestamp-precision" : {
                "displayName" : "Target System Timestamp Precision",
                "identifiesControllerService" : false,
                "name" : "target-system-timestamp-precision",
                "sensitive" : false
              },
              "track-performance" : {
                "displayName" : "Track Performance",
                "identifiesControllerService" : false,
                "name" : "track-performance",
                "sensitive" : false
              },
              "max-performance-metrics" : {
                "displayName" : "Maximum Number of Files to Track",
                "identifiesControllerService" : false,
                "name" : "max-performance-metrics",
                "sensitive" : false
              },
              "Minimum File Size" : {
                "displayName" : "Minimum File Size",
                "identifiesControllerService" : false,
                "name" : "Minimum File Size",
                "sensitive" : false
              },
              "Ignore Hidden Files" : {
                "displayName" : "Ignore Hidden Files",
                "identifiesControllerService" : false,
                "name" : "Ignore Hidden Files",
                "sensitive" : false
              },
              "et-state-cache" : {
                "displayName" : "Entity Tracking State Cache",
                "identifiesControllerService" : true,
                "name" : "et-state-cache",
                "sensitive" : false
              },
              "max-operation-time" : {
                "displayName" : "Max Disk Operation Time",
                "identifiesControllerService" : false,
                "name" : "max-operation-time",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 min",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ListFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "e7c3ef54-459d-3af8-8adc-0197d8060bb0",
            "instanceIdentifier" : "01971019-7026-1a96-6d5a-2c7cd28f1bde",
            "maxBackoffPeriod" : "10 mins",
            "name" : "FetchFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2132.4855008036234,
              "y" : 1091.393363985118
            },
            "properties" : {
              "Move Conflict Strategy" : "Rename",
              "Log level when file not found" : "ERROR",
              "Log level when permission denied" : "ERROR",
              "File to Fetch" : "${absolute.path}/${filename}",
              "Completion Strategy" : "None"
            },
            "propertyDescriptors" : {
              "Move Conflict Strategy" : {
                "displayName" : "Move Conflict Strategy",
                "identifiesControllerService" : false,
                "name" : "Move Conflict Strategy",
                "sensitive" : false
              },
              "Log level when file not found" : {
                "displayName" : "Log level when file not found",
                "identifiesControllerService" : false,
                "name" : "Log level when file not found",
                "sensitive" : false
              },
              "Move Destination Directory" : {
                "displayName" : "Move Destination Directory",
                "identifiesControllerService" : false,
                "name" : "Move Destination Directory",
                "sensitive" : false
              },
              "Log level when permission denied" : {
                "displayName" : "Log level when permission denied",
                "identifiesControllerService" : false,
                "name" : "Log level when permission denied",
                "sensitive" : false
              },
              "File to Fetch" : {
                "displayName" : "File to Fetch",
                "identifiesControllerService" : false,
                "name" : "File to Fetch",
                "sensitive" : false
              },
              "Completion Strategy" : {
                "displayName" : "Completion Strategy",
                "identifiesControllerService" : false,
                "name" : "Completion Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.FetchFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "a69cb916-95c4-394f-bde9-f470984df5de",
            "instanceIdentifier" : "01971018-7026-1a96-fe6f-687327c5db4a",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ListFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2148.4855008036234,
              "y" : 851.393363985118
            },
            "properties" : {
              "Minimum File Age" : "0 sec",
              "et-initial-listing-target" : "all",
              "max-listing-time" : "3 mins",
              "et-time-window" : "3 hours",
              "et-node-identifier" : "${hostname()}",
              "Recurse Subdirectories" : "true",
              "File Filter" : ".*\\.csv$",
              "Include File Attributes" : "true",
              "Input Directory Location" : "Local",
              "listing-strategy" : "none",
              "Input Directory" : "/home/yashverma/Desktop/nifi/UatlikeFLows/input csv",
              "target-system-timestamp-precision" : "auto-detect",
              "track-performance" : "false",
              "max-performance-metrics" : "100000",
              "Minimum File Size" : "0 B",
              "Ignore Hidden Files" : "true",
              "max-operation-time" : "10 secs"
            },
            "propertyDescriptors" : {
              "Minimum File Age" : {
                "displayName" : "Minimum File Age",
                "identifiesControllerService" : false,
                "name" : "Minimum File Age",
                "sensitive" : false
              },
              "et-initial-listing-target" : {
                "displayName" : "Entity Tracking Initial Listing Target",
                "identifiesControllerService" : false,
                "name" : "et-initial-listing-target",
                "sensitive" : false
              },
              "Maximum File Age" : {
                "displayName" : "Maximum File Age",
                "identifiesControllerService" : false,
                "name" : "Maximum File Age",
                "sensitive" : false
              },
              "max-listing-time" : {
                "displayName" : "Max Directory Listing Time",
                "identifiesControllerService" : false,
                "name" : "max-listing-time",
                "sensitive" : false
              },
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "Maximum File Size" : {
                "displayName" : "Maximum File Size",
                "identifiesControllerService" : false,
                "name" : "Maximum File Size",
                "sensitive" : false
              },
              "et-time-window" : {
                "displayName" : "Entity Tracking Time Window",
                "identifiesControllerService" : false,
                "name" : "et-time-window",
                "sensitive" : false
              },
              "et-node-identifier" : {
                "displayName" : "Entity Tracking Node Identifier",
                "identifiesControllerService" : false,
                "name" : "et-node-identifier",
                "sensitive" : false
              },
              "Recurse Subdirectories" : {
                "displayName" : "Recurse Subdirectories",
                "identifiesControllerService" : false,
                "name" : "Recurse Subdirectories",
                "sensitive" : false
              },
              "File Filter" : {
                "displayName" : "File Filter",
                "identifiesControllerService" : false,
                "name" : "File Filter",
                "sensitive" : false
              },
              "Path Filter" : {
                "displayName" : "Path Filter",
                "identifiesControllerService" : false,
                "name" : "Path Filter",
                "sensitive" : false
              },
              "Include File Attributes" : {
                "displayName" : "Include File Attributes",
                "identifiesControllerService" : false,
                "name" : "Include File Attributes",
                "sensitive" : false
              },
              "Input Directory Location" : {
                "displayName" : "Input Directory Location",
                "identifiesControllerService" : false,
                "name" : "Input Directory Location",
                "sensitive" : false
              },
              "listing-strategy" : {
                "displayName" : "Listing Strategy",
                "identifiesControllerService" : false,
                "name" : "listing-strategy",
                "sensitive" : false
              },
              "Input Directory" : {
                "displayName" : "Input Directory",
                "identifiesControllerService" : false,
                "name" : "Input Directory",
                "sensitive" : false
              },
              "target-system-timestamp-precision" : {
                "displayName" : "Target System Timestamp Precision",
                "identifiesControllerService" : false,
                "name" : "target-system-timestamp-precision",
                "sensitive" : false
              },
              "track-performance" : {
                "displayName" : "Track Performance",
                "identifiesControllerService" : false,
                "name" : "track-performance",
                "sensitive" : false
              },
              "max-performance-metrics" : {
                "displayName" : "Maximum Number of Files to Track",
                "identifiesControllerService" : false,
                "name" : "max-performance-metrics",
                "sensitive" : false
              },
              "Minimum File Size" : {
                "displayName" : "Minimum File Size",
                "identifiesControllerService" : false,
                "name" : "Minimum File Size",
                "sensitive" : false
              },
              "Ignore Hidden Files" : {
                "displayName" : "Ignore Hidden Files",
                "identifiesControllerService" : false,
                "name" : "Ignore Hidden Files",
                "sensitive" : false
              },
              "et-state-cache" : {
                "displayName" : "Entity Tracking State Cache",
                "identifiesControllerService" : true,
                "name" : "et-state-cache",
                "sensitive" : false
              },
              "max-operation-time" : {
                "displayName" : "Max Disk Operation Time",
                "identifiesControllerService" : false,
                "name" : "max-operation-time",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 min",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ListFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "e22fd7fa-3f2c-351b-8ffe-99014a5e47a1",
            "instanceIdentifier" : "3e4d1416-0197-1000-57b8-b7891a5dd2cb",
            "maxBackoffPeriod" : "10 mins",
            "name" : "MergeRecord",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 928.0,
              "y" : 168.0
            },
            "properties" : {
              "Attribute Strategy" : "Keep Only Common Attributes",
              "min-records" : "1",
              "record-writer" : "ae9557e0-260b-305f-b89a-f2a6e0c1d35e",
              "merge-strategy" : "Bin-Packing Algorithm",
              "record-reader" : "730083de-8d32-3f80-8690-31e6f557777f",
              "max-records" : "1000",
              "min-bin-size" : "0 B",
              "max.bin.count" : "10"
            },
            "propertyDescriptors" : {
              "max-bin-age" : {
                "displayName" : "Max Bin Age",
                "identifiesControllerService" : false,
                "name" : "max-bin-age",
                "sensitive" : false
              },
              "correlation-attribute-name" : {
                "displayName" : "Correlation Attribute Name",
                "identifiesControllerService" : false,
                "name" : "correlation-attribute-name",
                "sensitive" : false
              },
              "Attribute Strategy" : {
                "displayName" : "Attribute Strategy",
                "identifiesControllerService" : false,
                "name" : "Attribute Strategy",
                "sensitive" : false
              },
              "min-records" : {
                "displayName" : "Minimum Number of Records",
                "identifiesControllerService" : false,
                "name" : "min-records",
                "sensitive" : false
              },
              "max-bin-size" : {
                "displayName" : "Maximum Bin Size",
                "identifiesControllerService" : false,
                "name" : "max-bin-size",
                "sensitive" : false
              },
              "record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "merge-strategy" : {
                "displayName" : "Merge Strategy",
                "identifiesControllerService" : false,
                "name" : "merge-strategy",
                "sensitive" : false
              },
              "record-reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "record-reader",
                "sensitive" : false
              },
              "max-records" : {
                "displayName" : "Maximum Number of Records",
                "identifiesControllerService" : false,
                "name" : "max-records",
                "sensitive" : false
              },
              "min-bin-size" : {
                "displayName" : "Minimum Bin Size",
                "identifiesControllerService" : false,
                "name" : "min-bin-size",
                "sensitive" : false
              },
              "max.bin.count" : {
                "displayName" : "Maximum Number of Bins",
                "identifiesControllerService" : false,
                "name" : "max.bin.count",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.MergeRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "7f4a9b2b-5273-3f7b-8e12-e3afbf664bcf",
            "instanceIdentifier" : "01971021-7026-1a96-2ba0-dbb6a8e36164",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2744.0,
              "y" : 1176.0
            },
            "properties" : {
              "Byte Sequence Location" : "Trailing",
              "Keep Byte Sequence" : "false",
              "Byte Sequence Format" : "Hexadecimal",
              "Byte Sequence" : "0A"
            },
            "propertyDescriptors" : {
              "Byte Sequence Location" : {
                "displayName" : "Byte Sequence Location",
                "identifiesControllerService" : false,
                "name" : "Byte Sequence Location",
                "sensitive" : false
              },
              "Keep Byte Sequence" : {
                "displayName" : "Keep Byte Sequence",
                "identifiesControllerService" : false,
                "name" : "Keep Byte Sequence",
                "sensitive" : false
              },
              "Byte Sequence Format" : {
                "displayName" : "Byte Sequence Format",
                "identifiesControllerService" : false,
                "name" : "Byte Sequence Format",
                "sensitive" : false
              },
              "Byte Sequence" : {
                "displayName" : "Byte Sequence",
                "identifiesControllerService" : false,
                "name" : "Byte Sequence",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitContent",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "0b43ecb3-6ffc-3de2-b1ef-24459bc1f4ed",
            "instanceIdentifier" : "3e525c1d-0197-1000-b063-7a9fdb275907",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitRecord",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1176.0,
              "y" : 520.0
            },
            "properties" : {
              "Record Writer" : "ae9557e0-260b-305f-b89a-f2a6e0c1d35e",
              "Record Reader" : "730083de-8d32-3f80-8690-31e6f557777f",
              "Records Per Split" : "1"
            },
            "propertyDescriptors" : {
              "Record Writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "Record Writer",
                "sensitive" : false
              },
              "Record Reader" : {
                "displayName" : "Record Reader",
                "identifiesControllerService" : true,
                "name" : "Record Reader",
                "sensitive" : false
              },
              "Records Per Split" : {
                "displayName" : "Records Per Split",
                "identifiesControllerService" : false,
                "name" : "Records Per Split",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "cfbe2ad1-76d9-316e-9456-cfaa4e3b024e",
            "instanceIdentifier" : "0197101a-7026-1a96-f9b4-58f335bb76bf",
            "maxBackoffPeriod" : "10 mins",
            "name" : "MergeContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2652.4855008036234,
              "y" : 747.393363985118
            },
            "properties" : {
              "Keep Path" : "false",
              "Merge Strategy" : "Defragment",
              "Attribute Strategy" : "Keep Only Common Attributes",
              "Compression Level" : "1",
              "Maximum Number of Entries" : "1000",
              "Minimum Group Size" : "0 B",
              "Maximum number of Bins" : "5",
              "Tar Modified Time" : "${file.lastModifiedTime}",
              "Delimiter Strategy" : "Text",
              "Merge Format" : "Binary Concatenation",
              "Demarcator File" : "\n",
              "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
              "Minimum Number of Entries" : "1"
            },
            "propertyDescriptors" : {
              "Keep Path" : {
                "displayName" : "Keep Path",
                "identifiesControllerService" : false,
                "name" : "Keep Path",
                "sensitive" : false
              },
              "Maximum Group Size" : {
                "displayName" : "Maximum Group Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Group Size",
                "sensitive" : false
              },
              "Merge Strategy" : {
                "displayName" : "Merge Strategy",
                "identifiesControllerService" : false,
                "name" : "Merge Strategy",
                "sensitive" : false
              },
              "Attribute Strategy" : {
                "displayName" : "Attribute Strategy",
                "identifiesControllerService" : false,
                "name" : "Attribute Strategy",
                "sensitive" : false
              },
              "Compression Level" : {
                "displayName" : "Compression Level",
                "identifiesControllerService" : false,
                "name" : "Compression Level",
                "sensitive" : false
              },
              "Maximum Number of Entries" : {
                "displayName" : "Maximum Number of Entries",
                "identifiesControllerService" : false,
                "name" : "Maximum Number of Entries",
                "sensitive" : false
              },
              "Minimum Group Size" : {
                "displayName" : "Minimum Group Size",
                "identifiesControllerService" : false,
                "name" : "Minimum Group Size",
                "sensitive" : false
              },
              "Maximum number of Bins" : {
                "displayName" : "Maximum number of Bins",
                "identifiesControllerService" : false,
                "name" : "Maximum number of Bins",
                "sensitive" : false
              },
              "Tar Modified Time" : {
                "displayName" : "Tar Modified Time",
                "identifiesControllerService" : false,
                "name" : "Tar Modified Time",
                "sensitive" : false
              },
              "Delimiter Strategy" : {
                "displayName" : "Delimiter Strategy",
                "identifiesControllerService" : false,
                "name" : "Delimiter Strategy",
                "sensitive" : false
              },
              "Merge Format" : {
                "displayName" : "Merge Format",
                "identifiesControllerService" : false,
                "name" : "Merge Format",
                "sensitive" : false
              },
              "Footer File" : {
                "displayName" : "Footer",
                "identifiesControllerService" : false,
                "name" : "Footer File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Max Bin Age" : {
                "displayName" : "Max Bin Age",
                "identifiesControllerService" : false,
                "name" : "Max Bin Age",
                "sensitive" : false
              },
              "Demarcator File" : {
                "displayName" : "Demarcator",
                "identifiesControllerService" : false,
                "name" : "Demarcator File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Correlation Attribute Name" : {
                "displayName" : "Correlation Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Correlation Attribute Name",
                "sensitive" : false
              },
              "Header File" : {
                "displayName" : "Header",
                "identifiesControllerService" : false,
                "name" : "Header File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "mergecontent-metadata-strategy" : {
                "displayName" : "Metadata Strategy",
                "identifiesControllerService" : false,
                "name" : "mergecontent-metadata-strategy",
                "sensitive" : false
              },
              "Minimum Number of Entries" : {
                "displayName" : "Minimum Number of Entries",
                "identifiesControllerService" : false,
                "name" : "Minimum Number of Entries",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.MergeContent",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "b843d3bf-d617-3eff-a625-b67f2ffe291f",
            "instanceIdentifier" : "3a967026-0197-1000-e9fb-980acb5ee346",
            "maxBackoffPeriod" : "10 mins",
            "name" : "FetchFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 440.0,
              "y" : 520.0
            },
            "properties" : {
              "Move Conflict Strategy" : "Rename",
              "Log level when file not found" : "ERROR",
              "Log level when permission denied" : "ERROR",
              "File to Fetch" : "${absolute.path}/${filename}",
              "Completion Strategy" : "None"
            },
            "propertyDescriptors" : {
              "Move Conflict Strategy" : {
                "displayName" : "Move Conflict Strategy",
                "identifiesControllerService" : false,
                "name" : "Move Conflict Strategy",
                "sensitive" : false
              },
              "Log level when file not found" : {
                "displayName" : "Log level when file not found",
                "identifiesControllerService" : false,
                "name" : "Log level when file not found",
                "sensitive" : false
              },
              "Move Destination Directory" : {
                "displayName" : "Move Destination Directory",
                "identifiesControllerService" : false,
                "name" : "Move Destination Directory",
                "sensitive" : false
              },
              "Log level when permission denied" : {
                "displayName" : "Log level when permission denied",
                "identifiesControllerService" : false,
                "name" : "Log level when permission denied",
                "sensitive" : false
              },
              "File to Fetch" : {
                "displayName" : "File to Fetch",
                "identifiesControllerService" : false,
                "name" : "File to Fetch",
                "sensitive" : false
              },
              "Completion Strategy" : {
                "displayName" : "Completion Strategy",
                "identifiesControllerService" : false,
                "name" : "Completion Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.FetchFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8a78ebb8-b4ab-3005-b576-71e314920877",
            "identifier" : "f33ebd7b-78cd-3323-8fa0-9f7cc3512ea2",
            "instanceIdentifier" : "01971002-7026-1a96-29dd-b4dff34c905e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "MergeContent",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2312.0,
              "y" : -104.0
            },
            "properties" : {
              "Keep Path" : "false",
              "Merge Strategy" : "Defragment",
              "Attribute Strategy" : "Keep Only Common Attributes",
              "Compression Level" : "1",
              "Maximum Number of Entries" : "1000",
              "Minimum Group Size" : "0 B",
              "Maximum number of Bins" : "5",
              "Tar Modified Time" : "${file.lastModifiedTime}",
              "Delimiter Strategy" : "Do Not Use Delimiters",
              "Merge Format" : "Binary Concatenation",
              "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
              "Minimum Number of Entries" : "1"
            },
            "propertyDescriptors" : {
              "Keep Path" : {
                "displayName" : "Keep Path",
                "identifiesControllerService" : false,
                "name" : "Keep Path",
                "sensitive" : false
              },
              "Maximum Group Size" : {
                "displayName" : "Maximum Group Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Group Size",
                "sensitive" : false
              },
              "Merge Strategy" : {
                "displayName" : "Merge Strategy",
                "identifiesControllerService" : false,
                "name" : "Merge Strategy",
                "sensitive" : false
              },
              "Attribute Strategy" : {
                "displayName" : "Attribute Strategy",
                "identifiesControllerService" : false,
                "name" : "Attribute Strategy",
                "sensitive" : false
              },
              "Compression Level" : {
                "displayName" : "Compression Level",
                "identifiesControllerService" : false,
                "name" : "Compression Level",
                "sensitive" : false
              },
              "Maximum Number of Entries" : {
                "displayName" : "Maximum Number of Entries",
                "identifiesControllerService" : false,
                "name" : "Maximum Number of Entries",
                "sensitive" : false
              },
              "Minimum Group Size" : {
                "displayName" : "Minimum Group Size",
                "identifiesControllerService" : false,
                "name" : "Minimum Group Size",
                "sensitive" : false
              },
              "Maximum number of Bins" : {
                "displayName" : "Maximum number of Bins",
                "identifiesControllerService" : false,
                "name" : "Maximum number of Bins",
                "sensitive" : false
              },
              "Tar Modified Time" : {
                "displayName" : "Tar Modified Time",
                "identifiesControllerService" : false,
                "name" : "Tar Modified Time",
                "sensitive" : false
              },
              "Delimiter Strategy" : {
                "displayName" : "Delimiter Strategy",
                "identifiesControllerService" : false,
                "name" : "Delimiter Strategy",
                "sensitive" : false
              },
              "Merge Format" : {
                "displayName" : "Merge Format",
                "identifiesControllerService" : false,
                "name" : "Merge Format",
                "sensitive" : false
              },
              "Footer File" : {
                "displayName" : "Footer",
                "identifiesControllerService" : false,
                "name" : "Footer File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Max Bin Age" : {
                "displayName" : "Max Bin Age",
                "identifiesControllerService" : false,
                "name" : "Max Bin Age",
                "sensitive" : false
              },
              "Demarcator File" : {
                "displayName" : "Demarcator",
                "identifiesControllerService" : false,
                "name" : "Demarcator File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "Correlation Attribute Name" : {
                "displayName" : "Correlation Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Correlation Attribute Name",
                "sensitive" : false
              },
              "Header File" : {
                "displayName" : "Header",
                "identifiesControllerService" : false,
                "name" : "Header File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "TEXT", "FILE" ]
                },
                "sensitive" : false
              },
              "mergecontent-metadata-strategy" : {
                "displayName" : "Metadata Strategy",
                "identifiesControllerService" : false,
                "name" : "mergecontent-metadata-strategy",
                "sensitive" : false
              },
              "Minimum Number of Entries" : {
                "displayName" : "Minimum Number of Entries",
                "identifiesControllerService" : false,
                "name" : "Minimum Number of Entries",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.MergeContent",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "ca9cb96c-d3c1-3d5c-b12a-6324d1d91345",
          "identifier" : "084f1f6b-c96b-36cf-bb05-702840455eb6",
          "instanceIdentifier" : "352b8705-0197-1000-31c3-d02c306686b4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 630.9999941074635,
            "y" : 115.00001053665534
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "generate-ff-custom-text" : "{\n\"Message\":\"Hello World\",\n\"CommitMsg\":\"Version 1.0\"\n}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}